<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        article, aside, figure, footer, header,
        menu, nav, section { display: block; }
        ul { list-style: none; }
        ul li { display: inline; }
        ul li img { border: 2px solid white; cursor: pointer; }
        ul li img:hover { border: 2px solid red; }
        ul li img.selected { border: 2px solid black; }

        body {
            font: 10px sans-serif;
        }

        .axis path,
        .axis line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }

        .x.axis path {
            display: none;
        }

        .line {
            fill: none;
            stroke: steelblue;
            stroke-width: 1.5px;
        }

        .legend rect {
            fill:white;
            stroke:black;
            opacity:0.8;}



    </style>

    <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
    <script src="/javascripts/D3Legend.js"></script>
    <script src="/javascripts/D3MultiLineChart.js"></script>

    <script>

        $(document).ready(function () {
            $.get('data/Users', function (data) {
                $('#selectUser').append($('<option>', {
                    value: "",
                    text: ""
                }));
                $.each(data, function (i, item) {
                    $('#selectUser').append($('<option>', {
                        value: item.objectId,
                        text: item.username
                    }));
                });
            });
            $('#selectUser').change(function () {
                        var val1 = $('#selectUser option:selected').val();
                        $('#selectSurvey').empty();
                        $('#selectSurvey').append($('<option>', {
                            value: "",
                            text: ""
                        }));
                        if(val1 === ""){
                            return;
                        }
                        $('#selectSurvey').show();
                        $.get('data/Surveys/' + val1, function (data) {
                            $.each(data, function (i, item) {
                                $('#selectSurvey').append($('<option>', {
                                    value: item.objectId,
                                    text: item.createdat
                                }));
                            });
                        });

                    }
            );

            $('#selectSurvey').change(function () {
                        var val1 = $('#selectSurvey option:selected').val();
                        if(val1 === ""){
                            return;
                        }
                        $.get('data/SurveyData/' + val1, function(data){
                            D3MultiLineChart(data);
                        });
                    }
            );
        });


    </script>
</head>
<body>
<h3> Visualizations of the survey </h3>
    <select id="selectUser" >
    </select>

    <select id="selectSurvey">
    </select>
<div id="chart">

</div>
<div id="jsonDataDisplay">
    </div>
</body>
</html>
