<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
    <script>

        $(document).ready(function () {
            $.get('data/Users', function (data) {
                $.each(data, function (i, item) {
                    $('#selectUser').append($('<option>', {
                        value: item.objectId,
                        text: item.username
                    }));
                });
                // set here your svg properties
            });
            $('#selectUser').change(function () {
                        var val1 = $('#selectUser option:selected').val();

                        $('#selectSurvey').show();
                        $.get('data/Surveys/' + val1, function (data) {
                            $.each(data, function (i, item) {
                                $('#selectSurvey').append($('<option>', {
                                    value: item.objectId,
                                    text: item.createdat
                                }));
                            });
                        });

                    }
            );

            $('#selectSurvey').change(function () {
                        var val1 = $('#selectSurvey option:selected').val();

                        $.get('data/SurveyData/' + val1, function (data) {
                            var html = '';
                            //$data.forEach()
                            /*$.each(data, function (i, item) {
                                $('#selectSurvey').append($('<option>', {
                                    value: item.objectId,
                                    text: item.createdat
                                }));
                            });*/
                        });
                    }
            );


        });


    </script>
</head>
<body>
<h1><%= title %></h1>

<p>Welcome to <%= title %></p>

<form>
    <select id="selectUser" >
    </select>

    <select id="selectSurvey">
    </select>

</form>
</body>
</html>
